<link rel="stylesheet" href="{{ url_for('static', filename='fireworks.css') }}">
<div class="c-firework" style="left: 20%; animation-delay: 0s;"></div>
<div class="c-firework" style="left: 70%; animation-delay: 1s;"></div>
<div class="c-firework" style="left: 40%; animation-delay: 2s;"></div>
<div class="c-firework" style="left: 80%; animation-delay: 3s;"></div>
<div class="c-firework" style="left: 15%; animation-delay: 4s;"></div>
<div class="c-firework" style="left: 60%; animation-delay: 5s;"></div>